name: Build Typst document

on:
  push:
    branches:
      - sources

jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: sources

      - name: Debug Directory Contents
        run: |
          ls -R

      - name: Build Typst documents
        run: |
          docker run -e "XDG_CACHE_HOME=/root" --user $(id -u):$(id -g) -v ${{ github.workspace }}:/root --rm ghcr.io/typst/typst:latest find docs -type f -name "*\.typ" -exec sh -c 'typst compile --root . "$1" && rm -rf typst/packages/preview/' _ {} \;

      - name: Copy PDF files to sources branch
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          mkdir -p pdf-files
          cp -r docs/**/*.pdf pdf-files/

      - name: Commit and push PDF files to documents branch
        run: |
          git checkout -b documents || true
          git add pdf-files/
          git commit -m "Update PDF files [skip ci]"

          # Fetch the changes from the remote "documents" branch
          git fetch origin documents

          # Rebase the local changes on top of the fetched changes
          git rebase origin/documents

          # Push the changes to the "documents" branch
          git push origin documents
