name: Build Typst document

on:
  push:
    branches:
      - sources

jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: sources

      - name: Debug Directory Contents
        run: |
          ls -R

      - name: Build Typst documents
        run: |
          docker run -e "XDG_CACHE_HOME=/root" --user $(id -u):$(id -g) -v ${{ github.workspace }}:/root --rm ghcr.io/typst/typst:latest find docs -type f -name "*\.typ" -exec sh -c 'typst compile --root . "$1" && rm -rf typst/packages/preview/' _ {} \;

      - name: Commit and push PDF files to documents branch
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add docs/**/*.pdf
          git commit -m "Update PDF files [skip ci]"
          git push origin sources
      
          git checkout -b documents
          git checkout sources -- docs/**/*.pdf
          git add docs/**/*.pdf
          git commit -m "Update PDF files [skip ci]"
      
          git push origin documents
