name: Build Typst document

on:
  push:
    branches:
      - docs

jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: docs
      - name: compile  
        uses: yusancky/setup-typst@v2
        id: setup-typst
        with:
          version: 'v0.5.0'
      - run: typst compile docs/**/*.typ
          
      - name: Commit PDF files to pdf-files branch
        run: |
          git checkout -b pdf-files
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add 'docs/**/*.pdf'
          git commit -m "Update PDF files [skip ci]"

          # Remove all other files except PDF files
          git ls-files --others --exclude='*.pdf' -o | xargs git rm
          git commit --amend --no-edit

          # Push changes to pdf-files branch
          git push origin pdf-files
