name: Build Typst document

on:
  push:
    branches:
      - docs

jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: docs

      - name: Debug Directory Contents
        run: |
          ls -R

      - name: Build Typst documents
        run: |
          docker run -e "XDG_CACHE_HOME=/root" --user $(id -u):$(id -g) -v ${{ github.workspace }}:/root --rm ghcr.io/typst/typst:latest find docs -type f -name "*\.typ" -exec sh -c 'typst compile --root . "$1" && rm -rf typst/packages/preview/' _ {} \;

      - name: Create pdf-files branch and switch to it
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout --orphan pdf-files
          git rm -rf .
          git commit --allow-empty -m "Initialize pdf-files branch"
          git push origin pdf-files

      - name: Copy PDF files to pdf-files branch
        run: |
          mkdir -p pdf-files
          find docs -type f -name "*.pdf" -exec cp {} pdf-files/
          git add pdf-files/
          git commit -m "Update PDF files [skip ci]"
          git push origin pdf-files
