name: Build Typst document

on:
  push:
    branches:
      - docs

jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: docs
          
      - name: Debug Directory Contents
        run: |
          ls -R
          
      - name: Build Typst documents
        run: |
          docker run -e "XDG_CACHE_HOME=/root" --user $(id -u):$(id -g) -v ${{ github.workspace }}:/root --rm ghcr.io/typst/typst:latest find docs -type f -name "*\.typ" -exec sh -c 'typst compile --root . "$1" && rm -rf typst/packages/preview/' _ {} \;

      - name: Commit PDF files to pdf-files branch
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
      
          # Cambia al branch 'docs'
          git checkout docs
      
          # Aggiungi e fai il commit dei file PDF
          git add 'docs/**/*.pdf'
          git commit -m "Update PDF files [skip ci]"
      
          # Push del commit nel branch 'docs'
          git push origin docs
      
          # Crea il nuovo branch 'pdf-files' dal commit corrente in 'docs'
          git checkout -B pdf-files
          git push origin pdf-files
      
          # Torna al branch 'docs'
          git checkout docs
      
          # Ripristina la cartella 'docs/**/*.pdf' nel branch 'pdf-files'
          git checkout pdf-files -- docs/**/*.pdf
      
          # Aggiungi e fai il commit dei cambiamenti nel branch 'pdf-files'
          git add .
          git commit -m "Update PDF files [skip ci]"
      
          # Push del commit nel branch 'pdf-files'
          git push origin pdf-files


