name: Build Typst document

on:
  pull_request:
    types:
      - closed
    branches:
      - main
  workflow_dispatch:

jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: docs

      - name: Debug Directory Contents
        run: |
          ls -R

      - name: Build Typst documents
        run: |
           docker run -e "XDG_CACHE_HOME=/root" --user $(id -u):$(id -g) -v ${{ github.workspace }}:/root --rm ghcr.io/typst/typst:latest find documents -type f -name "*\.typ" -exec typst compile --root . {} \;

      - name: Commit and push PDF files to main
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"

          # Check if there are changes in PDF files
          if [[ -n $(git diff --name-only) ]]; then
            git add 'docs/**/*.pdf'
            git commit -m "Update PDF files [skip ci]"
            git push origin main
          else
            echo "No changes in PDF files. Skipping the merge."
          fi
