name: Compile LaTeX to PDF

on:
  push:
    paths:
      - '**/*.tex'

jobs:
  compile_latex:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup LaTeX
      uses: xu-cheng/texlive-action@v2
      with:
        scheme: basic
        texlive_version: 2021

    - name: Identify changed LaTeX files
      id: identify
      run: |
        CHANGED_FILES=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep '\.tex$')
        echo "Changed or new LaTeX files: $CHANGED_FILES"
        echo "::set-output name=latex_files::$CHANGED_FILES"

    - name: Compile LaTeX files
      run: |
        for file in ${{ steps.identify.outputs.latex_files }}; do
          pdflatex -interaction=nonstopmode -halt-on-error "$file"
        done
