name: Compile LaTeX Documents

on:
  push:
    branches:
      - main

jobs:
  compile_latex:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup TeXLive
      uses: xu-cheng/texlive-action@v2
      with:
        scheme: basic
        texlive_version: 2021

    - name: Compile LaTeX files
      uses: dante-ev/github-action-with-texlive@v1
      with:
        root_file: test.tex  # Update with your main LaTeX file

    - name: Set timestamp and version for builds of changed LaTeX files
      run: |
        shopt -s globstar
        for f in documents/**/*.tex; do
          [[ ! -f "$f" ]] && continue # skip if nothing to build
          touch -amd "$(date -R -r "$f")" "${f%.tex}.pdf"
          version=$(grep --context 1 "changelog:" "$f" | tail -n1 | cut -d ',' -f1 | sed 's/\s//g; s/"//g')
          [[ "$version" != 'none' ]] && mv "${f%.tex}.pdf" "${f%.tex}_v${version}.pdf" && f="${f%.tex}_v${version}.tex"
          git add "${f%.tex}.pdf"
        done

    - name: Commit and push changes
      run: |
        git config --local user.name "github-actions[bot]"
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git commit -m "Update PDFs [skip ci]"
        git push
