name: Build Typst document
on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Typst documents
        uses: Jarivanbakel/typst-action@v3
        with:
          input_files: '*.typ'

      - name: Commit and push PDF files to main
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b update-pdf-files
          git add '*.pdf'
          git commit -m "Update PDF files [skip ci]"
          git push origin update-pdf-files
